pillow
python-dotenv
ipykernel
openai
azure-ai-inference
azure-ai-projects
azure-ai-ml
azure-ai-evaluation
mlflow
azureml-mlflow
pydantic
geopy
azure-ai-inference[opentelemetry]
opentelemetry-exporter-otlp
opentelemetry-api
opentelemetry-sdk
ipywidgets

